<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFileDirectory" value="D:\\Logd\\" />
  </appSettings>

  <connectionStrings>
    <add name="connectionStringBelatrix" providerName="System.Data.SqlClient" connectionString="server=.;database=BelatrixTest;Integrated Security=True"/>
  </connectionStrings>
</configuration>